/* colors */
* {
  background-color: #344b5a;
}

/* body {
  background-color: yellow;
} */

/*  typeface :   
    font-family: 'Abel', sans-serif  
*/


h1, h3, h5, p {
  font-family: 'Abel', sans-serif;
  color: whitesmoke;
}


div {
  margin-bottom: 10px;
}

#hour, #minutes{
  width: 4em;
  background-color: whitesmoke;
}

/* #minutes {
  width: 4em;
} */


