/* colors */
* {
  background-color: #344b5a;
}

h1, h3, h5, p {
  font-family: 'Abel', sans-serif;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  font-size: 5em;
  margin: 5px;
}

  h1.step2 {
    margin-bottom: 35px;
    margin-top: -500px;
  }

h3 {
  font-size: 2em;
  margin: 10px;
}

  h3.step2 {
    margin-bottom: 35px;
  }

h5 {
  font-size: 1.4em;
  margin: 5px;
}


div {
  margin-bottom: 10%;
}

#hour, #minutes{
  width: 35%;
  font-size: 130px;
  background-color: whitesmoke;
  padding: .03em;

}

#minutes{
  width: 40%;
}

#ampm{
  margin: 0;
  position: absolute;               
  top: 50%;                         
  transform: translate(0, -50%);
  height: 100%;
  font-size: 100px;
  color: whitesmoke;
}

input {
  padding: 0;
}

#gimmeTime{
  height: 10em;
  position: relative;
}


/* STEP ONE - on load fade in */
.step1 {
  animation-delay: 3s;
  animation: fadein 3s;
}

@keyframes fade {
0%,100% { opacity: 0 }
50% { opacity: 1 }
}

/* FADE OUT & GO AWAY */

.step2,.step1 {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.step2 {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.step1 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.step2 > div,
.step1 > div {
  /* Put any padding, border, min-height, etc. here. */
}
.step1 > div {
  margin-top: -10000px;
  transition: margin-top 0s 2s;
}


/* STEP TWO - THE MEAT */
.step2 {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

}